body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #148fdc, #113647);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tela-login {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 55px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px; 
}

.header, .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFF;
    color: #111FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 30px; /* Adicionado para evitar corte na margem direita */
    box-sizing: border-box;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
}

.header-logo, .footer-logo {
    height: 70px;
    max-width: 150px; 
    object-fit: contain; 
}

.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 33%;
}

.input {
    position: relative;
    margin-bottom: 30px;
}

input {
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    font-size: 16px;
    width: 100%;
    letter-spacing: 1px;
}

fieldset{
    border: 3px solid dodgerblue;
}

legend{
    border: 1px solid dodgerblue;
    padding: 15px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 9px;
    
}
.inputBox{
    position: relative;

}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 18px;
    width: 100%;
    letter-spacing: 2px;

}

.labelInput {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: 0.5s;
    font-size: 16px;
    color: white;
}

.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: dodgerblue;
}

#submit{
    background-image: linear-gradient(to right, rgb(55, 4, 114), rgb(130, 15, 145));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 11px;

}

#submit:hover{
    background-image: linear-gradient(to right, rgb(114, 22, 219), rgb(196, 11, 220));;
}



.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0); /* Preto sólido */
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    z-index: 1000;
}

.popup button {
background-color: dodgerblue;
border: none;
padding: 10px;
color: white;
cursor: pointer;
border-radius: 5px;
}

#popup button:hover{
background-image: linear-gradient(to right, rgb(114, 22, 219), rgb(196, 11, 220));;
}

.btn-login {
    background-image: linear-gradient(to right, #370472, #820f91);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 11px;
    transition: background-image 0.5s;
    margin-top: 10px; 
}

.btn-login:hover {
    background-image: linear-gradient(to right, #7216db, #c40bdc);
}

.btn-new-user {
    background-image: linear-gradient(to right, #3399ff, #6ee2cd); /* Cores diferentes */
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 16px;    
    cursor: pointer;
    border-radius: 11px;
    transition: background-image 0.5s;
    margin-top: 10px; 

}

.btn-new-user:hover {
    background-image: linear-gradient(to right, #3399ff, #0066cc); 
}

.btn-forgot-password {
    background-image: linear-gradient(to right, #93b9e0, #077f17); 
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 11px;
    transition: background-image 0.5s;
    margin-top: 10px; 
}

.btn-forgot-password:hover {
    background-image: linear-gradient(to right, #3399ff, #0066cc); /* Hover diferente */
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.button-group button {
    width: 48%; 
}